# Virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment / secrets
.env

# Log files
*.log

# VSCode settings (optional)
.vscode/

# System files
.DS_Store
Thumbs.db
